<div class="container">
  <h2>ngIf</h2>
  <div class="panel panel-default">
    <div class="panel-heading">ngIf</div>
    <div class="panel-body">
      <div class="col-md-12">
        <div *ngIf="false"></div>
      </div>
      <div class="col-md-12">
        <div *ngIf="a > b">
          <p>a > b</p>
        </div>
      </div>
      <div class="col-md-12">
        <div *ngIf="str == 'yes'">
          <p>str == 'yes'</p>
        </div>
      </div>
      <div class="col-md-12">
        <div *ngIf="myFunc()">
          <p>ngIf = myFunc()</p>
        </div>
      </div>
    </div>
  </div>
</div>