<div class="container">
  <h2>*ngFor</h2>
  <div class="panel panel-default">
    <div class="panel-heading">*ngFor</div>
    <div class="panel-body">
      <ul>
        <li *ngFor="let item of collection" [innerHTML]="item.id"></li>
      </ul>
      <button (click)="getItems()">Refresh items</button>
    </div>
  </div>
</div>

<div class="container">
  <h2>*ngFor trackByIdx</h2>
  <div class="panel panel-default">
    <div class="panel-heading">*ngFor trackByIdx</div>
    <div class="panel-body">
      <ul>
        <li *ngFor="let item of collection;trackBy: trackByFn" [innerHTML]="item.id"></li>
      </ul>
      <button (click)="getItems()">Refresh items</button>
    </div>
  </div>
</div>

<div class="container">
  <h2>*ngFor Select</h2>
  <div class="panel panel-default">
    <div class="panel-heading">*ngFor Select</div>
    <div class="panel-body">
      <select (change)="selectChange($event)">
        <option *ngFor="let item of collection;trackBy: trackByFn" [value]="item.id" [innerHTML]="item.id"></option>
      </select>
    </div>
  </div>
</div>