<div class="container">
    <h1>component IO</h1>
    <div class="col-md-12">
        <app-parent></app-parent>
    </div>
    <div class="col-md-12">
        <app-parent-count></app-parent-count>
    </div>
</div>
<hr>
<div class="container">
    <h1>Data-Binding</h1>
    <div class="col-md-12">
        <app-interpolation></app-interpolation>
    </div>
    <div class="col-md-12">
        <app-property-bind></app-property-bind>
    </div>
    <div class="col-md-12">
        <app-event-bind></app-event-bind>
    </div>
    <div class="col-md-12">
        <app-two-way-bind></app-two-way-bind>
    </div>
    <div class="col-md-12">
        <app-classbind></app-classbind>
    </div>
    <div class="col-md-12">
        <app-style-bind></app-style-bind>
    </div>
</div>
<hr>
<div class="container">
    <h1>common-directives</h1>
    <div class="col-md-12">

        <app-ng-style></app-ng-style>
    </div>
    <div class="col-md-12">

        <app-ng-class></app-ng-class>
    </div>
    <div class="col-md-12">

        <app-ng-if></app-ng-if>
    </div>
    <div class="col-md-12">

        <app-ng-switch></app-ng-switch>
    </div>
    <div class="col-md-12">
        <app-ng-for></app-ng-for>
    </div>
</div>
<hr>
<div class="container">
    <h1>Pipe Template</h1>
    <div class="col-md-12">
        <app-fifter-template></app-fifter-template>
    </div>
    <div class="col-md-12">
        <app-custom-filter></app-custom-filter>
    </div>
</div>
<hr>
<div class="container">
    <h1>Form Template</h1>
    <div class="col-md-12">
        <app-template-driven></app-template-driven>
    </div>
    <div class="col-md-12">
        <app-reactive></app-reactive>
    </div>
</div>