<div class="col-md-12">
    <h2>interpolation</h2>
    <app-interpolation></app-interpolation>
</div>
<div class="col-md-12">
    <h2>property-bind</h2>
    <app-property-bind></app-property-bind>
</div>
<div class="col-md-12">
    <h2>event-bind</h2>
    <app-event-bind></app-event-bind>
</div>
<div class="col-md-12">
    <h2>two-way-bind</h2>
    <p>app.module 需要 import 'FormsModule'</p>
    <app-two-way-bind></app-two-way-bind>
</div>
<div class="col-md-12">
    <h2>class-bind</h2>
    <app-classbind></app-classbind>
</div>

<div class="col-md-12">
    <h2>style-bind</h2>
    <app-style-bind></app-style-bind>
</div>
<div class="col-md-12">
    <h2>template-driven</h2>
    <p>需import FormsModule</p>
    <app-template-driven></app-template-driven>
</div>
<div class="col-md-12">
    <h2>reactive</h2>
    <p>需import ReactiveFormsModule</p>
    <app-reactive></app-reactive>
</div>