<div class="container">
  <h2>Angular 內建 filter</h2>
  <div class="panel panel-default">
    <div class="panel-heading">Angular 內建 filter</div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item"><p>{{ 'Angular' | uppercase }}</p></li>
        <li class="list-group-item"><p>{{ 'Angular' | lowercase }}</p></li>
        <li class="list-group-item"><p>{{ 3.14159265 | number: '1.4-4' }}</p></li>
        <li class="list-group-item"><p>{{ today | date: 'shortTime' }}</p></li>
        <li class="list-group-item"><p>{{ { name: 'semlinker' } | json }}</p></li>
        <li class="list-group-item"><p>{{ 'semlinker' | slice:0:3 }}</p></li>
        <li class="list-group-item"><p>{{ 'semlinker' | slice:0:3 | uppercase }}</p></li>
      </ul>
    </div>
  </div>
</div>